.Fetching {
    min-width: 50px;
    min-height: 50px;

    /* border: 2px solid white; */
    border-radius: 50px;
}

.Fetching .Notch {
    min-width: 5px;
    min-height: 5px;

    background-color: white;

    border-radius: 10px;

    align-self: flex-end;
}